@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria: #22d4fd;
    --bac-cabecalho: #272727;

    --font-primaria: 'Krona One', 'sans-serif';
    --font-secundaria: 'Montserrat', 'sans-serif';
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.tituloDestaque{
    color: var(--cor-terciaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;    
    background-color: var(--bac-cabecalho);
}

.cabecalho__nav{
    display: flex;
    gap: 80px;

}

.cabecalho__nav__link{
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.principal{
    gap: 82px;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    

}

.principal__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria)
}
.principal__conteudo__texto{
        font-size: 1.5rem;
        font-family: var(--font-secundaria);
}

.botao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.botao__links_link{
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 50%;
    justify-content: center;
    text-align: center;
    gap: 16px;
    display: flex;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);

}

.botao__links_link:hover{

    background-color: var(--bac-cabecalho);

}

.imagem_apresentacao{

    width: 50%;


}


.footer{
    margin-top: 3%;
    padding: 1.5rem;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    text-align: center;
    color: var(--cor-primaria);   
}


@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    
    .cabecalho__nav{
        justify-content: center;

    }

    .principal{
        flex-direction: column-reverse;
        padding: 5%;
    
    }

    .principal__conteudo{
        width: auto;
    }
}